p material works!

p
    a(routerLink="../form") form
p
    a(routerLink="../buttons-indicators") buttons-indicators
p
    a(routerLink="../navigation") navigation
p
    a(routerLink="../layout") layout
p
    a(routerLink="../popups-modals") popups-modals
p
    a(routerLink="../data-table") data-table
