p form works!

p
    a(routerLink="../autocomplete") autocomplete
p
    a(routerLink="../checkbox") checkbox
p
    a(routerLink="../input") input
p
    a(routerLink="../form-field") form-field
p
    a(routerLink="../radio-button") radio-button
p
    a(routerLink="../select") select
p
    a(routerLink="../slider") slider
p
    a(routerLink="../slider-toggle") slider-toggle