p form works!

p
    a(routerLink="../autocomplete") autocomplete
p
    a(routerLink="../checkbox") checkbox
p
    a(routerLink="../input") input
p
    a(routerLink="../form-field") form-field
p
    a(routerLink="../button") button