ol
    li
        mat-form-field
            input(matInput="", [(ngModel)]="name", placeholder="What's your name?")
    |
    li
        button(mat-raised-button="", (click)="openDialog()") Pick one
    |
    li(*ngIf="animal")
        | You chose:
        i {{animal}}
