.material-wrap
    p toolbar works!

    mat-toolbar(color="primary")
        mat-toolbar-row
            span Custom Toolbar
        |
        mat-toolbar-row
            span Second Line
            |
            span.example-spacer
            |
            mat-icon.example-icon verified_user
        |
        mat-toolbar-row
            span Third Line
            |
            span.example-spacer
            |
            mat-icon.example-icon favorite
            |
            mat-icon.example-icon delete