p layout works!

p
    a(routerLink="../list") list
p
    a(routerLink="../card") card
p
    a(routerLink="../divider") divider
p
    a(routerLink="../expansion-panel") expansion-panel
p
    a(routerLink="../grid-list") grid-list
p
    a(routerLink="../tabs") tabs
p
    a(routerLink="../stepper") stepper
