.material-wrap
    p checkbox works!!

    p
        mat-checkbox Check me!

    p
        mat-checkbox([labelPosition]="'before'") Label before!

    p
        mat-checkbox([indeterminate]="true")
            div 内容是div，不确定状态-
    p
        mat-checkbox([color]="'primary'", [checked]="true") primary
    p
        mat-checkbox([color]="'warn'", [checked]="true") warn

    p example
        matc-checkbox-example