mat-chip-list
    mat-chip One fish
    |
    mat-chip Two fish

br

mat-chip-list
    |
    mat-chip(color="primary", selected="true") Primary fish
    |
    mat-chip(color="accent", selected="true") Accent fish